@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Source+Code+Pro:900');

/* detail root variables */
:root {
  --font-serif: 'Allerta Stencil', sans-serif;
  --font-mono: 'Source Code Pro', monospace;
  --color-text: #efeee7;
  --color-bg: #223458;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.table {
 
}
.assignmentor{
  background-color: blue;
}



.drawer-icon {
  font-family: 'Carter One', cursive;
  display: flex;
  font-size: larger;
  align-items: center;
}
.drawer-name {
  font-family: var(--font-serif);
  
}
.appbar{
  z-index: 1000;
 
}

.drawer{
  z-index: 999;
}
.table{

margin-left: 100px;

padding: 50px;
}
.form{
  display: flex;
 flex-direction: column;
 width: 50%;
 margin-left: 30%;
 gap:10px;
  
 

}
.home{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.headLine{
  text-align: center;
}








